.button {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: #5b96d3;
  color: white;
  padding: 0.75rem 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
  /* float: right; */
}

.button:hover,
.button:active {
  background-color: #0516e3;
}

.icon {
  width: 1.35rem;
  height: 1.35rem;
  margin-right: 1rem;
}

.badge {
  /* background-color: #5b96d3; */
  position: absolute;
  padding: 0.5rem  0.2rem;
  top:9px;
  /* border-radius: 25px; */
  /* margin-left: 5px; */
  /* margin: 10px; */
  /* font-weight: bold; */
  margin-right: 22px;
}
.cart{
  margin-left: 1rem;
}

.button:hover .badge,
.button:active .badge {
  background-color: #0516e3;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}