.availableMeals1 {
  display: flex;
  direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.Card {
  padding: 10px;
  height: 22rem;
  margin: 45px;
  display: flex;
  direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}
.Card:hover {
  border: 2px #777 solid;
}
.cardActions button{
  background: linear-gradient(90deg,rgba(11, 93, 244, 0.8),rgba(16, 1, 102, 0.8) 87.19%);
}
.ImageNshare {
  display: flex;
}
.shareIcon {
  color: white;
  height: fit-content;
}
.shareIcon:hover {
  color: blue;
}

.img img {
  border-radius: 4px;
  width: 112%;
  transition: ease-in 0.5s;
}
.title {
  text-align: center;
}
.cardActions {
  justify-content: space-between;
  width: 100%;
}
.starIcon {
  color: #fff;
  background-color: #48c479;
  width: 50px;
}
