.availableMeals1 {
  display: flex;
  direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.Card {
  padding: 10px;
  height: 22rem;
  margin: 45px;
  display: flex;
  direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 5px 7px #777;
}
.Card:hover {
  border: 2px #777 solid;
}
.ImageNshare {
  display: flex;
}
.shareIcon {
  color: white;
  height: fit-content;
}
.shareIcon:hover {
  color: blue;
}

.img img {
  border-radius: 4px;
  width: 112%;
}
.title {
  text-align: center;
}
.cardActions {
  justify-content: space-between;
  width: 100%;
}
.starIcon {
  color: #fff;
  background-color: #48c479;
  width: 50px;
}
