.meals {
  background-image: url("https://images.pexels.com/photos/1939485/pexels-photo-1939485.jpeg");
  /* background-image: url("https://www.stockvault.net/data/2011/09/25/127090/preview16.jpg"); */
  background-repeat: no-repeat;
  /* transform: rotateZ(-4deg) translateY(-4rem) translateX(-1rem); */
}

.availableMeals1 {
  display: flex;
  direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.Card {
  padding: 10px;
  margin: 45px;
  display: flex;
  direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 4px rgb(0 0 0 / 56%);
}
.Card:hover {
  box-shadow: 0 5px 7px rgb(0 0 0 / 76%);
  cursor: pointer;
}
.cardActions button {
  background: linear-gradient(
    90deg,
    rgba(11, 93, 244, 0.8),
    rgba(16, 1, 102, 0.8) 87.19%
  );
}
.ImageNshare {
  display: flex;
}
.shareIcon {
  color: white;
  height: fit-content;
}
.shareIcon:hover {
  color: blue;
}

.img img {
  border-radius: 4px;
  height: 10rem;
  width: 20rem;
  object-fit: cover;
  /* transition: ease-out 0.5s; */
  transition: opacity 0.25s ease 0s, transform 0.25s ease 0s;
}
.img img:hover {
  transition: opacity 0.25s ease 0s, transform 0.25s ease 0s;
}
.title {
  text-align: center;
}
.cardActions {
  justify-content: space-between;
  width: 100%;
}
.starIcon {
  color: gold;
  width: 300px;
}
